*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar{
	height: 80px;
	width: auto;
	background-color: antiquewhite;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.navBar img{
	height: 50px;
	object-fit: cover;
	
}


span#burguer{
	background-color: orange;
	display: block;
	color: #fff;
	text-align: center;
	padding: 10px;
	cursor: pointer;
}

span#burguer:hover{
	background-color: #fff;
	color: black; 
	transition: 0.3s;
}

menu{
	display: none;
	background-color: black;
	color: #fff;
	width: 100%;
	height: 100%;
	position: relative;
	padding-top: 1%;
	padding: 5px;
	
}
menu>ul{
	list-style-type: none;
	cursor: pointer;

}

menu > ul > li{
	display: block;
	padding: 10px;
	text-align: center;
	font-size: 25px;
	
}

.imgBanner{
	background-image: url(./image/redes-com-palmeiras.jpg);
	height: 900px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 20%;
	padding-top: 5%;
}

.imageBannerBox{
	height: 350px;
	width: 500px;
	background-color: #fff;
	opacity: 0.8;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 10px;
	padding-left: 15px;
	gap: 40px;
}

.imageBannerBox button{
	height: 45px;
	border: none;
	background-color: orange;
	opacity: 1;
	padding: 10px;
	color: #fff;
	font-size: 12px;

}

.imageBannerBox h1{
	font-size: 40px;
}

.imageBannerBox p{
	font-size: 19px;
}

.imageBannerBox button{
	background-color: orange;
}


.containerBemVindo{
	height: 600px;
	width: 100%;
	background-color: antiquewhite;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 5%;
}

.containerBemVindoContent{
	height: 400px;
	width: 900px;
	background-color: #fff;
	display: flex;
}

.containerBemVindoContentImg{
	background-image: url(./image/piscina\ \(1\).jpg);
	max-height: 400px;
	width: 50%;
	height: auto;
	background-size: cover;
}

.containerBemVindoContentImg h1{
	padding-right: 50%;
	margin-bottom: 20px;
}

.acomodacoes{
	height: 300px;
	width: 100%;
	background-color: lavender;
}

.containerBemVindoContentText{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;	
	justify-content: center;
	padding: 10px;
}

.containerBemVindoContentText h2{
	text-align: center;
	opacity: 0.9;
}

.containerBemVindoContentText p{
	font-size: 17px;
	opacity: 0.9;
}