*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    height: 90vh;
    background-image: url("https://s2.glbimg.com/F7ODPs8sN6_Cva9bEqmfnGi2ZCw=/smart/e.glbimg.com/og/ed/f/original/2020/07/16/restaurante-em-sao-paulo-usa-tecido-anti-coronavirus-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 90vh;
}
.circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
  }
  
  .circle img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

.container h3{
    font-size: 25px;
    color: #ffff;
}

.container p{
    font-size: 17px;
    color: #ffff;
}

.containerContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.containerContentItem{
    border: 2px solid #fff;
    border-radius: 6px;
    height: 60px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: .3s; */
    cursor: pointer;
    background-color: #fff;
    box-shadow: 12px 11px 0px 0px #000;
}

.containerContentItem:hover{
    box-shadow: 9px 9px 0px 0px #000;
}

.containerContentItem a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.linkImg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* width: auto; */
    gap: 10px;
    margin-top: 20px;
}

#facebookLogo{
    height:36px;
}

#instagramLogo{
    height: 36px;
}

#facebookLogo:hover{
    height: 55px;
}

#instagramLogo:hover{
    height: 45px;
}

#ttkLogo{
    height: 36px;

}

#ttkLogo:hover{
    height: 45px;
}

/* MEDIA */
@media(max-width:360){
    .containerContentItem{
        width: 100px;
    }
}

@media(max-width:400px){
    .containerContentItem{
        width: 350px;
    }
}